/* Requisito #1-14 */
body {
  background-color: rgb(253, 251, 251);
  font-size: 1.1em;
  color: #263A29;
  line-height: 1.8em;
  font-family: sans-serif;
}

/* Requisito #2 */
#cabecalho {
  position: fixed;
  top: 0;
  background-color: #D3E4CD;
  width: 100%;
  text-align: center;

}

/* Requisito #13 */
#minha_foto {
  margin: 100px;
  padding: 5px;
  border: 1px solid #263A29;
  width: 250px;
  background-color: #D3E4CD;

}

/* Requisito #15 */
.lado-direito , .lado-esquerdo {
  display: inline-block;
  width: 30%;
}

main {position: relative;}

table {display: inline;
  position: absolute;
  top: 100px;
border: 1px solid #263A29;
padding: 10px;
}

table:nth-of-type(2) {left: 900px;}

