/* Requisito #1-14 */
body {
  background-color: rgb(253, 251, 251);
  font-size: 1.1em;
  color: rgb(38, 58, 41);
  line-height: 1.8em;
  font-family: sans-serif;
  max-width: 100%;
}

/* Requisito #2 */
#cabecalho {
  position: fixed;
  top: 0;
  background-color: rgb(211, 228, 205);
  width: 100%;
  text-align: center;
}

/* Requisito #13 */
#minha_foto {
  margin: 100px 50px 20px 50px;
  padding: 5px;
  border: 1px solid rgb(38, 58, 41);
  width: 250px;
  background-color: rgb(211, 228, 205);
}

/* Requisito #15 */
.lado-direito , .lado-esquerdo {
  display: inline-block;
  width: 40%;
  margin: 0 50px;
  vertical-align: text-top;
}

main {
  position: relative;
}

table {
  display: inline;
  position: absolute;
  top: 100px;
  border: 1px solid rgb(38, 58, 41);
  padding: 10px;
}

table:nth-of-type( 2 ) {
  left: 850px;
}

#rodape {
  text-align: center;
  font-size: small;
}
